<!DOCTYPE html>
<html lang="en">
<head>
  <title>Lilliputifier (Specific URL)</title>
</head>
<body>
  <header>
    <%- include("partials/_header"); %>
  </header>
  <h1>Lilliput: <strong><%= shortURL %></strong></h1>

  <form method="POST" action="/urls/<%= shortURL %> name="updateURL">
    <input type="text" value="<%= fullURL %>">
      <button type="submit">Update</button></form>
  <!-- <p><%= fullURL %>  👉  www.lilli.put/<strong><%= shortURL %></strong></p> -->
</body>
</html>