<!DOCTYPE html>
<html lang="en">
<head>
  <title>Lilliputifier</title>
</head>
<body>
  <header>
    <%- include("partials/_header"); %>
  </header>

  <main>
    <h1>Currently Available Shortened URLs:</h1>

    <div class="new URLs">
      <h2>Lilliputagain!</h2>
      <p><a href="/urls/new">Click here to create a new shortened URL.</a></p>
    </div>

    <div class="master list">
      <h2>Lilliputesyoudid:</h2>
      <ul>
        <% for (record in urlDatabase) { %>
          <li>www.lilli.put/<strong><%= urlDatabase[record].shortURL %></strong> 👉 <%= urlDatabase[record].longURL %> <br> <a href="/urls/<%= urlDatabase[record].shortURL %>">Lillipointsomewhereelse?</a> <form method="POST" action="/urls/<%= urlDatabase[record].shortURL %>/delete"><button type="submit">Delete</button></form><br></li>
        <% }; %>
      </ul>
    </div>
    </ul>
  </main>

  <footer>

  </footer>
</body>
</html>